travis/travis-ci-key
web/sites/sites/
web/temp
.vagrant
**/.DS_Store
**/pkg/
**/.*.sw?
**/spec/fixtures
**/Gemfile.lock
**/.rspec_system
*.sql
*.patch

# Ignore the devel mail log on dev / staging systems
devel-mail-log

# Don't track phpstorm files
.idea

# Ignore the error log
web/error_log
web/moving.page
web/suspended.page

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private
web/files
private-files

# Ignore temp directories
web/temp
