
.vagrant
**/.DS_Store
**/pkg/
**/.*.sw?
**/spec/fixtures
**/Gemfile.lock
**/.rspec_system

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

