
.page-node-add-cal-event-DISABLE #edit-taxonomy-vocabulary-2 {
  float: right;
  width: 60%;
  border: solid 1px #ccc;
  margin-left: 8px;
  padding-left: 8px;
}

.page-node-add-cal-event-DISABLE #edit-field-event-type {
  width: 40%;
}

.page-node-add-cal-event-DISABLE #edit-field-event-type .form-type-radios {
  padding-left: 8px;
  margin-right: 16px;
  border: solid 1px #ccc;
}


/* ----- Taxonomy tree with icon ----- */
/*     (also exists in wk_bartik)      */

.term-with-icon-variant .term-reference-tree-button,
.term-with-icon-variant .no-term-reference-tree-button {
  float: left;
  margin-top: 4px;
}

.term-with-icon-variant .form-checkbox,
 .term-with-icon-variant .type-checkbox-tree-label .parent-term {
  float: left;
  margin-top: 6px;
  margin-right: 8px;
}

.term-with-icon-variant .field-type-image {
  float: left;
  margin-top: 4px;
  margin-right: 8px;
}

.term-with-icon-variant img {
  width: 28px;
  height: auto;
}
