
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #48a9e4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}

/* ---------- Calendar Colors ----------- */

.page .calendar-calendar .month-view .full td.single-day div.monthview,
.page .calendar-calendar .week-view .full td.single-day div.weekview,
.page .calendar-calendar .day-view .full td.single-day div.dayview {
  color: #666;
}

.page .calendar-calendar .month-view .full td.multi-day div.monthview,
.page .calendar-calendar .week-view .full td.multi-day div.weekview,
.page .calendar-calendar .day-view .full td.multi-day div.dayview {
  color: #666;
  background: #FEB;
}

.page .calendar-calendar .month-view .full td.multi-day .inner div.monthview .continues,
.page .calendar-calendar .week-view .full td.multi-day .inner div.weekview .continues,
.page .calendar-calendar .day-view .full td.multi-day .inner div.dayview .continues {
  color: #666;
  background: #EDA;
}

.page .calendar-calendar .month-view .full td.multi-day .inner div.monthview .cutoff,
.page .calendar-calendar .week-view .full td.multi-day .inner div.weekview .cutoff,
.page .calendar-calendar .day-view .full td.multi-day .inner div.dayview .cutoff {
  color: #666;
  background: #EDA;
}

.page .calendar-calendar .month-view .full td.single-day .inner div.monthview a:link,
.page .calendar-calendar .week-view .full td.single-day .inner div.weekview a:visited,
.page .calendar-calendar .day-view .full td.single-day .inner div.dayview a:hover {
  color: #000;
}

.page .calendar-calendar .month-view .full td.multi-day .inner div.monthview a:link,
.page .calendar-calendar .week-view .full td.multi-day .inner div.weekview a:visited,
.page .calendar-calendar .day-view .full td.multi-day .inner div.dayview a:hover {
  color: #000;
}
