
#main {
  margin-top: 0px;
}

/* ############# Begin Text Size and Style CSS ############# */

h1 {
  font-size: 24px;
}

/* ############# End Text Size and Style CSS ############# */


/* ############# Begin style.css Color Reset ############# */

h1 {
  color: inherit;
}

tr.odd {
  color: inherit;
}

#site-name {
  color: inherit;
}

/* there are table backgrounds and colors that should perhaps be reset as well... */

/* ############# End style.css Color Reset ############# */

/* ############# Begin Block CSS ############# */

.sidebar .block {
  border-radius: 10px 10px 0 0;
}

.sidebar .block h2 {
  margin: -15px -20px 0 -20px;
  padding: 15px 20px 0.5em 20px;
  border-radius: 10px 10px 0 0;
}

#footer-wrapper .block {
  border-radius: 5px;
}

/* ############# End Block CSS ############# */

/* ############# Begin General Layout CSS ############# */

.page-node-43 #page-title {
  text-align: center;
  font-size: 48pt;
}

/* --- When things get narrow, 1/3 & 1/2 become full-width --- */

.full-width,
.half-width,
.third-width {
  width: 100%;
}

/* --- If we have at least 560px, 1/3 & 1/2 take up 50% --- */

@media all and (min-width: 560px) {

  .half-width {
    width: 50%;
    float: left;
  }

}

@media all and (min-width: 560px) and (max-width: 900px) {

  .third-width {
    width: 50%;
    float: left;
  }

}

/* --- Once we have 900+ pixels, 1/3 becomes 33% --- */

@media all and (min-width: 901px) {

  .third-width {
    width: 33%;
    float: left;
  }

}

/* ############# End General Layout CSS ############# */

/* ############# Begin Image CSS ############# */

div.media img,
.image-frame img {
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 8px 8px 10px #ccc;
}

div.media-round img {
  border-radius: 50%;
}

div.media-plain img {
  border: 0px;
  border-radius: 0;
  box-shadow: 0 0 0;
}

div.media {
  float: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.media-left {
  float: left;
  text-align: inherit;
  margin-right: 24px;
  margin-left: 0px;
}

div.media-right {
  float: right;
  text-align: inherit;
  margin-left: 24px;
  margin-right: 0px;
}

div.media-center {
  float: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.file-image img {
  height: auto;
  border: 2px solid black;
}

.field-name-field-file-image-title-text {
  text-align: center;
  font-weight: bold;
}

.media-width-full,
.media-width-half,
.media-width-third,
.media-width-quarter,
div.media img,
.media-width-full img,
.media-width-half img,
.media-width-third img,
.media-width-quarter img {
  width: 100%;
}

@media all and (min-width: 560px) {

  .media-width-half {
    width: 50%;
  }

}

@media all and (min-width: 560px) and (max-width: 900px) {

  .media-width-third {
    width: 50%;
  }

  .media-width-quarter {
    width: 33%;
  }

}

@media all and (min-width: 901px) {

  .media-width-third {
    width: 33%;
  }

  .media-width-quarter {
    width: 25%;
  }

}

/* ############# End Image CSS ############# */


/* ############# Begin Header CSS ############# */


/* ----- Logo CSS ----- */

#logo {
  padding-bottom: 0px;
  margin-bottom: -8px;
}

/* ----- Search and login CSS ----- */

.link-search,
.block-search-id-form h3,
.block-search-id-form .edit-block {
  display: none;
}

/* ----- Menu button CSS ----- */

@media all and (min-width: 901px) {
  #main-menu ul li a,
  #main-menu ul li a:link,
  #main-menu ul li a:hover,
  #main-menu ul li a:visited {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* ############# End Header CSS ############# */

/* ############# Begin OM MaxiMenu Search & Login Block CSS ############# */

#om-maximenu-om-user-region .om-maximenu-tabbed-content {
  height: 90px;
  margin-right: 32px;
}

#om-maximenu-om-user-region #om-menu-om-user-region li {
  /*background: url('wk_img/chrome/user_tab.png') no-repeat -32px top;*/
  padding-right: 0px;
}

#om-maximenu-om-user-region #om-menu-om-user-region li.first {
  /*background: url('wk_img/chrome/user_tab.png') no-repeat left top;*/
  padding-left: 4px;
  padding-right: 0px;
}

#om-maximenu-om-user-region #om-menu-om-user-region span.om-link {
  padding-right: 4px;
  margin-left: 16px;
}

#om-maximenu-om-user-region #om-menu-om-user-region {
  /*background: url('wk_img/chrome/user_tab_end.png') no-repeat right top;*/
  padding-right: 24px;
}

#om-maximenu-om-user-region .om-maximenu-tabbed-content {
}

.block-user-id-login .form-item-name {
  display: inline;
}

.block-user-id-login .form-actions {
  display: inline;
}

#passwordless-help-link {
  display: block;
}

#edit-search-block-form--2 {
  width: 399px;
}

#om-menu-om-user-region .link-login {
  padding-left: 32px;
  background: url('../images/skeleton-key-sm.png') no-repeat 2px;
}

#om-maximenu-om-user-region .om-tabbed-content {
  float: right;
}

#om-maximenu-om-user-region .block-search h3 {
  display: block;
  font-size: 1.1em;
  margin: 18px 0 0 0;
}

#om-menu-om-user-region .link-search {
  padding-left: 28px;
  background: url('../images/search-sm.png') no-repeat 1px;
}

#om-menu-om-user-region {
  float: right;
  margin-bottom: -30px;
  background-color: #aaa;
  background-color: rgba(200, 200, 200, 0.7);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.region-header {
  position: absolute;
  top: 0px;
  right: 5px;
  border: none;
  background-color: #aaa;
  background-color: rgba(200, 200, 200, 0.7);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#om-close {
  position: absolute;
  top: 10px;
  right: 0px;
}

#header .region-header {
  margin-top: 0px;
}

/* ############# End OM MaxiMenu Search & Login Block CSS ############# */

/* ############# Begin General Field CSS ############# */

.page-taxonomy-term article {
  clear: both;
}

.field-name-field-postal-codes .field-item {
  float: left;
  margin-right: 8px;
  font-size: 85%;
  color: #888;
}

.field-name-field-postal-codes .field-items:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* ----- Who's who form ----- */

@media all and (min-width: 901px) {

  #entityform_who_s_who_update_form_group_id {
    float: left;
    width: 50%;
    margin-right: 1%;
  }

  .entitytype-who_s_who_update-form .field-name-taxonomy-vocabulary-2 {
    float: left;
    width: 48%;
  }

  .entitytype-who_s_who_update-form #edit-field-awards-from-other-kingdoms {
    clear: both;
  }

}

/* ----- Taxonomy tree with icon ----- */
/*     (also exists in wk_seven)      */

.term-with-icon-variant .term-reference-tree-button,
.term-with-icon-variant .no-term-reference-tree-button {
  float: left;
  margin-top: 4px;
}

.term-with-icon-variant .form-checkbox {
  float: left;
  margin-top: 6px;
  margin-right: 8px;
}

.term-with-icon-variant .field-type-image {
  float: left;
  margin-top: 4px;
  margin-right: 8px;
}

.term-with-icon-variant img {
  width: 28px;
  height: auto;
}

.term-with-icon-variant .form-type-checkbox label {
  margin-left: 0px;
}

.term-with-icon-variant .taxonomy-term-description {
  color: #AAA;
  font-size: 80%;
  font-style: italic;
  height: 1.3em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.term-with-icon-variant .taxonomy-term-description:hover {
  overflow: visible;
}

.term-with-icon-variant .form-type-checkbox {
  width: 90%;
}

/* ----- Regnum change form ----- */

#regnum-change-entityform-edit-form #edit-taxonomy-vocabulary-2 {
  float: right;
  width: 50%;
}

#regnum-change-entityform-edit-form #entityform_regnum_change_form_group_office {
  float: left;
  width: 50%;
}

#regnum-change-entityform-edit-form #entityform_regnum_change_form_group_office h3 {
  display: none;
}

@media all and (max-width: 900px) {
  #regnum-change-entityform-edit-form #edit-taxonomy-vocabulary-2 {
    float: none;
    width: auto;
  }

  #regnum-change-entityform-edit-form #entityform_regnum_change_form_group_office {
    float: none;
    width: auto;
  }
}

#regnum-change-entityform-edit-form #edit-field-effective-date {
  clear: both;
}

#regnum-change-entityform-edit-form .start-date-wrapper {
  float: left;
  width: auto;
  clear: none;
}

#regnum-change-entityform-edit-form .end-date-wrapper {
  float: left;
  width: auto;
  clear: none;
}

#regnum-change-entityform-edit-form .end-date-wrapper label {
  float: left;
  width: auto;
  padding: 20px;
}

#regnum-change-entityform-edit-form .form-item-field-effective-date-und-0-value2-date label {
  padding: 0;
}

/* ----- Calendar Date Submission form ----- */

.entitytype-calendar_date_request-form #edit-taxonomy-vocabulary-2 {
  float: right;
  width: 50%;
}

@media all and (max-width: 900px) {
  .entitytype-calendar_date_request-form #edit-taxonomy-vocabulary-2 {
    float: none;
    width: auto;
  }
}

.entitytype-calendar_date_request-form .field-name-field-additional-information {
  clear: both;
}

.entitytype-calendar_date_request-form .start-date-wrapper {
  float: left;
  width: auto;
  clear: none;
}

.entitytype-calendar_date_request-form .end-date-wrapper {
  float: left;
  width: auto;
  clear: none;
}

.entitytype-calendar_date_request-form .end-date-wrapper label {
  float: left;
  width: auto;
  padding: 20px;
}

.entitytype-calendar_date_request-form .form-item-field-first-choice-date-und-0-value2-date label {
  padding: 0;
}

@media all and (min-width: 500px) {
  .field-name-field-alternate-date,
  .field-name-field-second-alternate-date {
    float: left;
    width: 50%;
  }
}

.field-name-field-first-choice-date {
  clear: both;
}

/* ----- Date request approval form ----- */

.date-request-contact {
  margin-right: 16px;
}

#wk-date-request-approval-form h2,
#wk-date-request-multiple-approval-form h2 {
  display: none;
}

#wk-date-request-approval-form h3,
#wk-date-request-multiple-approval-form h3 {
  font-weight: bold;
  font-size: 150%;
}

#wk-date-request-multiple-approval-form legend {
  font-weight: bold;
  font-size: 120%;
}

#wk-date-request-multiple-approval-form .fieldset-wrapper {
  padding-top: 20px;
}

#wk-date-request-multiple-approval-form .approval-fieldset .fieldset-wrapper {
  padding-top: 0px;
}

.requesting-branch-group {
  float: left;
  text-align: center;
  margin-right: 12px;
}

.requesting-branch-group img {
  height: 120px;
  width: auto;
}

a.conflicting-event img {
  height: 40px;
  width: auto;
  margin-bottom: -16px;
  margin-left: 8px;
}

@media all and (min-width: 600px) {

  .approval-fieldset {
    float: right;
    width: 50%;
  }
}

@media all and (min-width: 901px) {

  .approval-fieldset {
    float: right;
    width: 33%;
  }
}

/* ############# End General Field CSS ############# */

/* ############# Begin Officer CSS ############# */

/* ----- Officer summary page ----- */

#officers h2 {
  clear: both;
}

@media all and (max-width: 560px) {
  .office-summary {
    clear: both;
  }
}

.office-summary .field-name-field-badge .field-label {
  display: none;
}

.office-summary .field-name-field-badge {
  width: 25%;
  position: relative;
  top: 0px;
  left: 0px;
  height: 0px;
}

.office-summary .field-name-field-badge img {
  width: 100%;
}

.office-summary .officer-title {
  font-weight: bold;
  font-size: 150%;
}

.office-members {
  margin-left: 30%;
  min-height: 128px;
}

/* ----- Officer nodes ----- */

.node-type-officers h1 {
  margin-bottom: 0px;
}

.link-contact {
  padding-left: 28px;
  background: url('../images/e-mail_icon-sm.png') no-repeat;
}

.officer-badges .field-label {
  display: none;
}

.view-officers-of-a-branch-group .field-name-field-arms {
  display: none;
}

.officers-list .views-field-field-type-of-deputy {
  padding-left: 16px;
  font-weight: bold;
}

.officer-badges .officer-branch,
.officer-badges .officer-badge {
  float: left;
}

.officer-badges .officer-branch img,
.officer-badges .officer-badge img {
  height: 64px;
  width: auto;
  margin-right: 16px;
  margin-bottom: 24px;
}

/* ############# End Officer Node CSS ############# */

/* ############# Begin Calendar CSS ############# */

/* ----- Calendar view ------ */

.calendar-event-type--1 a, calendar-event-type--2 a {
  font-weight: normal !important;
}

.calendar-event-branch .field-label {
  display: none;
}

.calendar-event-branch img {
  display: none;
}

div.monthview:hover .contents {
  background-color: rgb(255, 255, 255, 0.5);
}

@media all and (min-width: 901px) {

  .calendar-event-type--0 .calendar-event-branch img {
    width: 32px;
    margin-left: 0px;
    margin-right: 4px;
    opacity: 0.6;
  }

  .calendar-event-branch img {
    display: block;
    float: left;
    width: 24px;
    margin-left: 4px;
    margin-right: 8px;
    opacity: 0.3;
  }

  div.monthview:hover .calendar-event-branch img {
    opacity: 1.0;
  }

  /* TODO: only make these items higher when there is an image */

  td.multi-day {
    height: 38px !important;
    max-height: 38px !important;
  }

  td.single-day {
    min-height: 38px !important;
  }

  td.single-day div.monthview,
  td.multi-day div.monthview {
    min-height: 38px !important;
  }

  td.multi-day div.monthview .continues {
    height: 38px !important;
    padding-top: 9px !important;
  }

  td.multi-day div.monthview .continuation {
    height: 38px !important;
    padding-top: 9px !important;
  }
}

td.multi-day div.monthview .continuation {
  margin-left: -8px !important;
  padding-left: 8px !important;
  padding-right: 4px !important;
}

td.multi-day div.monthview .cutoff {
  display: none;
}

/* ----- Event Node Teaser ----- */

.node-teaser .cal-event-branch img {
  float: left;
  width: 48px;
  margin-right: 8px;
  margin-top: 4px;
}

.node-teaser .cal-event-branch .field-label {
  display: none;
}

#content .node-cal-event.node-teaser h2 {
  margin-bottom: 0px;
}

.node-cal-event.node-teaser .content {
  margin-top: 0px;
}

.node-cal-event.node-teaser .content .teaser-date {
  margin-bottom: 12px;
}

/* ----- Event Node Full View ----- */

.submitted {
  display: none;
}

.calendar-event-arms {
  width: 100%;
  z-index: 1;
}

.calendar-event-arms .field-label {
  display: none;
}

.calendar-event-arms img {
  height: 96px;
  width: auto;
  margin-right: 16px;
}

.calendar-event-arms .left-arms img {
  float: left;
}

.calendar-event-arms .right-arms img {
  float: right;
}

.field-name-field-prequel {
  margin-bottom: 16px;
}

.field-name-field-file-image-title-text {
  margin-top: 12px;
  margin-bottom: 12px;
}

.node-cal-event .field-name-field-event-site .field-label {
  float: left;
}

.node-cal-event .field-name-field-event-site .node-location .field-label {
  float: none;
}

.node-cal-event .node-location h2,
.node-location .node-cal-event h2 {
  font-size: 13px;
  margin: 0px;
}

.node-location .node-cal-event {
  margin-bottom: 16px;
}

.node-location .node-cal-event .clearfix:after {
  clear: none;
}

.node-cal-event .node-location .street-address {
  display: inline;
  margin-right: 4px;
}

.node-cal-event .node-location .street-address:after {
  margin-left: -4px;
  content:", ";
}

.node-cal-event .node-location .country-name {
  display: inline;
}

.node-cal-event .node-location .country-name:before {
  content:" (";
}

.node-cal-event .node-location .country-name:after {
  content:")";
}

.field-name-field-site-events {
  clear: both;
}

.node-type-cal-event .event-info {
  width: 100%;
  z-index: 2;
}

.node-type-cal-event h1 {
  text-align: center;
  margin: 0px;
}

.node-type-cal-event .field-name-field-date {
  text-align: center;
}

.node-type-cal-event .field-name-taxonomy-vocabulary-2 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
}

.node-type-cal-event .event-info .field-type-taxonomy-term-reference ul.links li {
  float: none;
}

.cal-event-location-long-summary {
  display: block;
  text-align: center;
  margin: 0px;
}

.past-events ul {
  padding-left: 0px;
}

.past-events li {
  list-style-type: none;
  list-style-image: none;
}


/* ############# End Calendar CSS ############# */

/* ############# Begin Footer CSS ############# */

#block-wk-wk-related-sites img,
.footer-contacts img {
  float: left;
  height: 20px;
  margin-left: 6px;
  margin-top: 6px;
  opacity: 0.7;
}

#block-wk-wk-related-sites li:hover img,
.footer-contacts li:hover img {
  opacity: 1.0;
}

#block-wk-wk-related-sites li a.site-label,
#footer-columns .footer-contacts li a {
  padding-left: 48px;
}

a.site5 {
  float: right;
}

#copyright-notice {
  margin-left: 96px;
  margin-right: 96px;
  text-align: center;
}

#site-disclosures {
  margin-top: 48px;
  margin-bottom: 0px;
}

#site-disclosures,
#site-disclosures a {
  color: rgba(255, 255, 255, 0.30);
}

#site-disclosures:hover {
  color: rgba(255, 255, 255, 0.65);
}

#site-disclosures:hover a {
  color: rgba(255, 255, 255, 0.85);
}

/* ############# End Footer CSS ############# */

/* ############# Begin Edge & Supporters CSS ############# */

#zone-content-wrapper {
  min-height: 600px;
}

@media all and (min-width: 1400px) {

  .page-with-background #page-wrapper
  {
    max-width: 1290px;
  }

}

@media all and (max-width: 1399px) {

  .page-with-background #page-wrapper
  {
    max-width: 1024px;
  }

}

.page-with-background #page-wrapper
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page-with-background #supporter-wrapper
{
  margin: 0px -175px 0 -175px;
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 100%;
}

/*
// Negative margin hack:
//
// The "* html" selector hides the code below
// for all browsers except IE6 and lower; the
// "mac hide" hack hides the hack from IE on the
// mac, which handles min-height correctly.
//
// See http://www.search-this.com/2007/08/01/the-positive-side-of-negative-margins/
//
// More comments on the box model hack:
//
// http://htmlfixit.com/contribs/MS_conditional_tags.html
// http://htmlfixit.com/tutes/tutorial_Internet_Explorer_Broken_Box_Model_Hack_and_Other_Alternatives.php
//
*/

/* mac hide \*/
* html #supporter-wrapper{height:1px;position:relative;}
/* end hide */

#supporter_l
{
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 100%;
}

#supporter_r
{
  /*margin: 0px -80px 0 -80px;*/
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 100%;
}

.page-with-background #edge_l
{
  margin-left: 159px;
  padding-left: 16px;
  min-height: 100%;
}

.page-with-background #edge_r
{
  margin-right: 159px;
  padding-right: 16px;
  min-height: 100%;
}

/* mac hide \*/
* html #supporter_l{height:1px;position:relative;}
* html #supporter_r{height:1px;position:relative;}
/* end hide */


/* ############# End Edge & Supporters CSS ############# */

