.link-search,
.block-search-id-form h3,
.block-search-id-form .edit-block {
  display: none;
}

#block-wk-wk-related-sites img,
.footer-contacts img {
  float: left;
  height: 20px;
  margin-left: 6px;
  margin-top: 6px;
  opacity: 0.7;
}

#block-wk-wk-related-sites li:hover img,
.footer-contacts li:hover img {
  opacity: 1.0;
}

#block-wk-wk-related-sites li a.site-label,
#footer-columns .footer-contacts li a {
  padding-left: 48px;
}

a.site5 {
  float: right;
}

#copyright-notice {
  margin-left: 96px;
  margin-right: 96px;
  text-align: center;
}
