
#main {
  margin-top: 0px;
}

/* ############# Begin Text Size and Style CSS ############# */

h1 {
  font-size: 24px;
}

/* ############# End Text Size and Style CSS ############# */

/* ############# Begin Image CSS ############# */

.file-image .image-frame {
  width: 100%;
}

.file-image img {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

.field-name-field-file-image-title-text {
  text-align: center;
  font-weight: bold;
}

/* ############# End Image CSS ############# */


/* ############# Begin Header CSS ############# */


/* ----- Logo CSS ----- */

#logo {
  padding-bottom: 0px;
  margin-bottom: -8px;
}

/* ----- Search and login CSS ----- */

.link-search,
.block-search-id-form h3,
.block-search-id-form .edit-block {
  display: none;
}

/* ----- Menu button CSS ----- */

@media all and (min-width: 901px) {
  #main-menu ul li a,
  #main-menu ul li a:link,
  #main-menu ul li a:hover,
  #main-menu ul li a:visited {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* ############# End Header CSS ############# */

/* ############# Begin OM MaxiMenu Search & Login Block CSS ############# */

#om-maximenu-om-user-region .om-maximenu-tabbed-content {
  height: 90px;
  margin-right: 32px;
}

#om-maximenu-om-user-region #om-menu-om-user-region li {
  /*background: url('wk_img/chrome/user_tab.png') no-repeat -32px top;*/
  padding-right: 0px;
}

#om-maximenu-om-user-region #om-menu-om-user-region li.first {
  /*background: url('wk_img/chrome/user_tab.png') no-repeat left top;*/
  padding-left: 4px;
  padding-right: 0px;
}

#om-maximenu-om-user-region #om-menu-om-user-region span.om-link {
  padding-right: 4px;
  margin-left: 16px;
}

#om-maximenu-om-user-region #om-menu-om-user-region {
  /*background: url('wk_img/chrome/user_tab_end.png') no-repeat right top;*/
  padding-right: 24px;
}

#om-maximenu-om-user-region .om-maximenu-tabbed-content {
}

.block-user-id-login .form-item-name {
  display: inline;
}

.block-user-id-login .form-actions {
  display: inline;
}

#passwordless-help-link {
  display: block;
}

#edit-search-block-form--2 {
  width: 399px;
}

#om-menu-om-user-region .link-login {
  padding-left: 32px;
  background: url('../images/skeleton-key-sm.png') no-repeat 2px;
}

#om-maximenu-om-user-region .om-tabbed-content {
  float: right;
}

#om-maximenu-om-user-region .block-search h3 {
  display: block;
  font-size: 1.1em;
  margin: 18px 0 0 0;
}

#om-menu-om-user-region .link-search {
  padding-left: 28px;
  background: url('../images/search-sm.png') no-repeat 1px;
}

#om-menu-om-user-region {
  float: right;
  margin-bottom: -30px;
  background-color: #f2f2f2;
  background-color: rgba(200, 200, 200, 0.7);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.region-header {
  position: absolute;
  top: 0px;
  right: 5px;
  border: none;
  background-color: #f2f2f2;
  background-color: rgba(200, 200, 200, 0.7);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#om-close {
  position: absolute;
  top: 10px;
  right: 0px;
}

#header .region-header {
  margin-top: 0px;
}

/* ############# End OM MaxiMenu Search & Login Block CSS ############# */

/* ############# Begin Officer Node CSS ############# */

.node-type-officers h1 {
  margin-bottom: 0px;
}

.link-contact {
  padding-left: 28px;
  background: url('../images/e-mail_icon-sm.png') no-repeat;
}

.officer-badges .field-label {
  display: none;
}

.view-officers-of-a-branch-group .field-name-field-arms {
  display: none;
}

.officers-list .views-field-field-type-of-deputy {
  padding-left: 16px;
  font-weight: bold;
}

.officer-badges .officer-branch,
.officer-badges .officer-badge {
  float: left;
}

.officer-badges .officer-branch img,
.officer-badges .officer-badge img {
  height: 64px;
  width: auto;
  margin-right: 16px;
  margin-bottom: 24px;
}

/* ############# End Officer Node CSS ############# */

/* ############# Begin Calendar Event Node CSS ############# */

.submitted {
  display: none;
}

.calendar-event-arms {
  width: 100%;
  z-index: 1;
}

.calendar-event-arms .field-label {
  display: none;
}

.calendar-event-arms img {
  height: 96px;
  width: auto;
  margin-right: 16px;
}

.calendar-event-arms .left-arms img {
  float: left;
}

.calendar-event-arms .right-arms img {
  float: right;
}

.field-name-field-prequel {
  margin-bottom: 16px;
}

.field-name-field-file-image-title-text {
  margin-top: 12px;
  margin-bottom: 12px;
}

.node-cal-event .field-name-field-event-site .field-label {
  float: left;
}

.node-cal-event .field-name-field-event-site .node-location .field-label {
  float: none;
}

.node-cal-event .node-location h2,
.node-location .node-cal-event h2 {
  font-size: 13px;
  margin: 0px;
}

.node-location .node-cal-event {
  margin-bottom: 16px;
}

.node-location .node-cal-event .clearfix:after {
  clear: none;
}

.node-cal-event .node-location .street-address {
  display: inline;
  margin-right: 4px;
}

.node-cal-event .node-location .street-address:after {
  margin-left: -4px;
  content:", ";
}

.node-cal-event .node-location .country-name {
  display: inline;
}

.node-cal-event .node-location .country-name:before {
  content:" (";
}

.node-cal-event .node-location .country-name:after {
  content:")";
}

.field-name-field-site-events {
  clear: both;
}

.node-type-cal-event .event-info {
  width: 100%;
  z-index: 2;
}

.node-type-cal-event h1 {
  text-align: center;
  margin: 0px;
}

.node-type-cal-event .field-name-field-date {
  text-align: center;
}

.node-type-cal-event .field-name-taxonomy-vocabulary-2 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
}

.node-type-cal-event .event-info .field-type-taxonomy-term-reference ul.links li {
  float: none;
}

.cal-event-location-long-summary {
  display: block;
  text-align: center;
  margin: 0px;
}

.past-events ul {
  padding-left: 0px;
}

.past-events li {
  list-style-type: none;
  list-style-image: none;
}


/* ############# End Calendar Event Node CSS ############# */

/* ############# Begin Footer CSS ############# */

#block-wk-wk-related-sites img,
.footer-contacts img {
  float: left;
  height: 20px;
  margin-left: 6px;
  margin-top: 6px;
  opacity: 0.7;
}

#block-wk-wk-related-sites li:hover img,
.footer-contacts li:hover img {
  opacity: 1.0;
}

#block-wk-wk-related-sites li a.site-label,
#footer-columns .footer-contacts li a {
  padding-left: 48px;
}

a.site5 {
  float: right;
}

#copyright-notice {
  margin-left: 96px;
  margin-right: 96px;
  text-align: center;
}

/* ############# End Footer CSS ############# */

/* ############# Begin Edge & Supporters CSS ############# */

#zone-content-wrapper {
  min-height: 600px;
}

.page-with-background #page-wrapper
{
  max-width: 1290px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page-with-background #supporter-wrapper
{
  margin: 0px -175px 0 -175px;
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 100%;
}

/*
// Negative margin hack:
//
// The "* html" selector hides the code below
// for all browsers except IE6 and lower; the
// "mac hide" hack hides the hack from IE on the
// mac, which handles min-height correctly.
//
// See http://www.search-this.com/2007/08/01/the-positive-side-of-negative-margins/
//
// More comments on the box model hack:
//
// http://htmlfixit.com/contribs/MS_conditional_tags.html
// http://htmlfixit.com/tutes/tutorial_Internet_Explorer_Broken_Box_Model_Hack_and_Other_Alternatives.php
//
*/

/* mac hide \*/
* html #supporter-wrapper{height:1px;position:relative;}
/* end hide */

#supporter_l
{
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 100%;
}

#supporter_r
{
  /*margin: 0px -80px 0 -80px;*/
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 100%;
}

.page-with-background #edge_l
{
  margin-left: 159px;
  padding-left: 16px;
  min-height: 100%;
}

.page-with-background #edge_r
{
  margin-right: 159px;
  padding-right: 16px;
  min-height: 100%;
}

/* mac hide \*/
* html #supporter_l{height:1px;position:relative;}
* html #supporter_r{height:1px;position:relative;}
/* end hide */


/* ############# End Edge & Supporters CSS ############# */

