/* This file will hold the main styles for your website. */

body {
  background: transparent url(wk_img/chrome/wk_mainbg.png) 50% 0% repeat;
}

h1 {
  font-size: 28px;
}

.submitted {
  display: none;
}

.page .calendar-calendar .month-view .full td.single-day div.monthview,
.page .calendar-calendar .week-view .full td.single-day div.weekview,
.page .calendar-calendar .day-view .full td.single-day div.dayview {
  color: #666;
}

.page .calendar-calendar .month-view .full td.multi-day div.monthview,
.page .calendar-calendar .week-view .full td.multi-day div.weekview,
.page .calendar-calendar .day-view .full td.multi-day div.dayview {
  color: #666;
  background: #FEB;
}

.page .calendar-calendar .month-view .full td.multi-day .inner div.monthview .continues,
.page .calendar-calendar .week-view .full td.multi-day .inner div.weekview .continues,
.page .calendar-calendar .day-view .full td.multi-day .inner div.dayview .continues {
  color: #666;
  background: #EDA;
}

.page .calendar-calendar .month-view .full td.multi-day .inner div.monthview .cutoff,
.page .calendar-calendar .week-view .full td.multi-day .inner div.weekview .cutoff,
.page .calendar-calendar .day-view .full td.multi-day .inner div.dayview .cutoff {
  color: #666;
  background: #EDA;
}

.page .calendar-calendar .month-view .full td.single-day .inner div.monthview a:link,
.page .calendar-calendar .week-view .full td.single-day .inner div.weekview a:visited,
.page .calendar-calendar .day-view .full td.single-day .inner div.dayview a:hover {
  color: #000;
}

.page .calendar-calendar .month-view .full td.multi-day .inner div.monthview a:link,
.page .calendar-calendar .week-view .full td.multi-day .inner div.weekview a:visited,
.page .calendar-calendar .day-view .full td.multi-day .inner div.dayview a:hover {
  color: #000;
}

#inner-wrapper {
  background: #fff;
}

#edge_l
{
  background: url('wk_img/chrome/border_vert_or_l.png') 0% 0% repeat-y;
}

#edge_r
{
  background: url('wk_img/chrome/border_vert_or_r.png') 100% 0% repeat-y;
}

#supporter-wrapper
{
  margin: 0px -175px 0 -175px;
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 0;
}

/*
// Negative margin hack:
//
// The "* html" selector hides the code below
// for all browsers except IE6 and lower; the
// "mac hide" hack hides the hack from IE on the
// mac, which handles min-height correctly.
//
// See http://www.search-this.com/2007/08/01/the-positive-side-of-negative-margins/
//
// More comments on the box model hack:
//
// http://htmlfixit.com/contribs/MS_conditional_tags.html
// http://htmlfixit.com/tutes/tutorial_Internet_Explorer_Broken_Box_Model_Hack_and_Other_Alternatives.php
//
*/

/* mac hide \*/
* html #supporter-wrapper{height:1px;position:relative;}
/* end hide */

#supporter_l
{
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 0;
}

#supporter_r
{
  /*margin: 0px -80px 0 -80px;*/
  /* Negative margin adjustment: needed for IE7+, innocuous for other browsers */
  min-height: 0;
}

#edge_l
{
  margin-left: 159px;
  padding-left: 16px;
  height: 100%;
}

#edge_r
{
  margin-right: 159px;
  padding-right: 16px;
  height: 100%;
}

/* mac hide \*/
* html #supporter_l{height:1px;position:relative;}
* html #supporter_r{height:1px;position:relative;}
/* end hide */

#zone-user-wrapper {
  background: #ffc43a;
}

#section-header {
  background: #ffc43a;
  min-width: 340px;
}

#zone-menu-wrapper {
}

#zone-header-wrapper {
}

#zone-menu-wrapper h2 {
  display: none;
}

#zone-menu-wrapper ul li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

.site-slogan {
  font-size: 90%;
  color: #846F23;
  position: absolute;
  right: 0px;
}

#zone-menu-wrapper ul li a,
#zone-menu-wrapper ul li a:link,
#zone-menu-wrapper ul li a:hover,
#zone-menu-wrapper ul li a:visited {
  color: #000;
  text-decoration: none;
}

a,
a:link,
a:visited {
  color: #969702;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#section-content {
  padding-top: 12px;
  background: #FFF url('wk_img/chrome/header_shadow.png') repeat-x top;
}

.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited {
  color: #846F23;
  font-size: 90%;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #000;
  font-size: 90%;
  text-decoration: underline;
}

.region-sidebar-second-inner .block {
    -moz-border-radius: 10px 10px 0 0;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #1d3422;
    margin-bottom: 16px;
}

.region-sidebar-second-inner .block h2 {
    -moz-border-radius: 10px 10px 0 0;
    background: none repeat scroll 0 0 #1d3422;
    border-bottom: 1px solid #1d3422;
    color: #FFF;
    text-align: center;
    font-size: 1.2em;
}

.region-sidebar-second-inner .content {
    padding: 0 6px 6px;
    line-height: 2em;
}

.region-sidebar-second-inner .content a {
  text-decoration: none;
}

.region-sidebar-second-inner p {
  margin: 0px;
}

#zone-footer {
  background: #FFE992;
  margin: auto;
  padding-top: 5px;
  text-align: center;
  border-top: 1px solid black;
  font-size: 0.8em;
}

.logo-img {
  padding-top: 16px;
}


