/* This file will hold styles that are loaded using the same media query as the narrow grid. */

#section-header {
  background: #ffc43a;
}

.block-menu-westkingdom ul li a,
.block-menu-westkingdom ul li a:link,
.block-menu-westkingdom ul li a:hover,
.block-menu-westkingdom ul li a:visited {
  font-size: .9em;
}

.logo-img {
  padding: 0px;
}
