/* This file will hold styles that are loaded using the same media query as the normal grid. */

#section-header {
  background: #ffc43a url('wk_img/header_figures/header_fighters_V4_narrow.png') no-repeat right top;
}

.block-menu-westkingdom ul li.first {
  margin-left: -11px;
}

.block-menu-westkingdom ul li {
  float:left;
  background:url("wk_img/chrome/wk_nav_btn.png")
    no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  border-bottom:1px solid #bb7319;

}

.block-menu-westkingdom ul li a,
.block-menu-westkingdom ul li a:link,
.block-menu-westkingdom ul li a:hover,
.block-menu-westkingdom ul li a:visited {
  font-size: 1.1em;
  float:left;
  display:block;
  background:url("wk_img/chrome/wk_nav_btn_rt.png")
    no-repeat right top;
  padding:1px 15px 1px 6px;
  text-decoration:none;
  font-weight:bold;
  color: black;
}

.block-menu-westkingdom ul li:hover, .block-menu-westkingdom ul li:hover a {
  background-position:0% -60px;
  color:#333;
}

.block-menu-westkingdom ul li:hover a {
  background-position:100% -60px;
}

.logo-img {
  padding: 0px;
}
