ul.tertiary {
  padding: 0.5em 1em;
  margin: 5px;
}
ul.tertiary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.tertiary a {
  padding: 0;
  text-decoration: none;
}
ul.tertiary a.active {
  border-bottom: 4px solid #999;
}